<div class="alert-full alert-full--blue">
    <div class="row collapse">
        <div class="small-12 columns">
            <h2>Confirm your email address</h2>
            <p>To ensure that you can be contacted, we need you to confirm that your email address is valid.</p>
            <a href="/member/ConfirmEmailAddress/?resend=1" class="btn btn--small btn--blue">
                Click here to confirm
            </a>
        </div>
    </div>
</div>