<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="menu-container-footer">
                <ul class="menu-footer">
                    <li><a href="#">Auditions & Jobs</a></li>
                    <li><a href="#">Success Stories</a></li>
                    <li><a href="#">Talent Dictionary</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Conact Us</a></li>
                    <li><a href="#">Trust & Safety</a></li>
                    <li><a href="#">Contact for advertisment</a></li>
                </ul>
            </div>
            <div class="header-center-menu" style="text-align: center; font-size:14px;">
                <a class="#" href="#" id="registerLink">Auditions & Jobs</a>
                <a href="#" id="registerLink">Talent Dictionary</a>
                <a href="#" id="registerLink">Success Stories</a>
                <a href="#" id="registerLink">Privacy Policy</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12" style="padding:5px; text-align:center; margin-top:10px;">
            <ul class="social-network social-circle">
                <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12" style="padding:5px; min-height:100px;">
        </div>
    </div>
    <div class="row" style="font-size:15px;">
        <div class="col-xs-12 text-center text-info">
            <p>
                We are the No. 1 talent website of India. Our mission is to provide a platform for all over the world people connected with the entertainment, television media and advertising.
                <br />
                We are not responsible for any outside content. If you have any problam with our site content and images then
                <a class="text-danger" href="#">Contct us.</a>
            </p>
        </div>
        <div class="col-xs-12 text-center" style="padding:10px; font-size:14px;">
            <bdi>Copyright © 2016 StarIn.com</bdi>
        </div>
    </div>
</div>