<section id="physicalAppreanceEdit">
    <div class="row">
        <div class="container section" style="padding:0 0 0 15px;">
            <h1>List an audition or job</h1>
        </div>
    </div>
    <div class="row">
        <div class="container section">
            <form action="#" method="post" class="form padding-10" role="form">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label class="profile-edit-label">Favorite genres</label>
                            <select name="categoryparentMcatPath" id="categoryparentMcatPath">
                                <option selected="selected" value="">Choose a category...</option>
                                <option value="0010-">Actors &amp; Extras wanted</option>
                                <option value="0007-">Dancers wanted</option>
                                <option value="0058-">Film &amp; Stage Crew wanted</option>
                                <option value="0107-">Hair, Makeup &amp; Stylists wanted</option>
                                <option value="0011-">Magazines / newspapers</option>
                                <option value="0008-">Models wanted</option>
                                <option value="0012-">Musicians wanted</option>
                                <option value="0080-">Photographers wanted</option>
                                <option value="0001-">TV &amp; Reality</option>

                            </select>
                        </div>
                    </div>
                </div>
                <hr />
            </form>
        </div>
    </div>

</section>
@section Scripts {

}
