@model Star4Cast.ViewModels.ProfileManage.UserAboutViewModel

<section id="physicalAppreanceEdit">
    <div class="container">
        <div class="row page-heading">
            <h1>About</h1>
        </div>

        <div class="row">
            <div class="col-xs-12 section">
                <form action="About" method="post" class="form padding-10" role="form">
                    <div class="form-group theme-padding-control">
                        <label class="control-label">About me</label>
                        <textarea id="about" name="about" spellcheck="true" maxlength="1500" class="form-control" style="min-height:150px; width:100%;"></textarea>
                        <span class="help"><strong class="theme-color">1500</strong> character remainings</span>
                    </div>
                    <hr />
                    <div class="form-group theme-padding-control">
                        <label class="control-label">{{WebName}}&nbsp;addresses</label>
                        <p class="help" style="display:block;"><i>Direct url of your profile page</i></p>
                        <span style="height:30px; border:none;" class="theme-control-label">http://www.{{WebName}}.com/</span>
                        <input id="nickname" name="nickname" type="text" value="ranjukumar" maxlength="50" size="56" class="theme-texbox-custom" style="width:45%;" />
                    </div>
                    <hr />
                    <div class="form-group theme-padding-control">
                        <fieldset>
                            <label class="control-label">Social Links</label>
                            <p class="help" style="display:block;">
                                Do you wat to display your social platforms on <i class="theme-color">{{WebName}}</i> profile? <br />Enter your username or URL for the social platforms you want to display. <i>To make the most of this feature, ensure each profile is set to public.</i>
                            </p>

                            @if (Model != null)
                            {
                                @Html.EditorFor(m => m.UserSocialAddressList)
                            }                           
                        </fieldset>
                    </div>

                    <div class="col-sm-12 text-center padding-15">
                        <hr />
                        <a asp-controller="ProfileManage" asp-action="TalentProfile" id="btnCancle" class="btn-profile-edit-cancle btn btn-danger">Close</a>
                        <button id="btnSave" class="btn-profile-edit-save btn btn-success">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
