
<section class="section-profile" ng-controller="ProfileController">
    <div class="container">
        <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
            <div class="row  section" style="padding: 30px 0 0 0; border-bottom-left-radius:10px; border-bottom-right-radius:10px;">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="margin-bottom: 20px;">
                    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                        <div class="row">
                            @* Profile Headshot *@
                            <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
                                <div class="profile-headshot-container">
                                    <img src="~/css/icons/ranjeet.jpg" alt="{{User.name}}" itemprop="image">
                                    @*<a href="/headshot?return_url=%2fmystarnow%2fMyProfile.aspx" class="headshot headshot-m nounder">
                                            <div class="profile-headshot__overlay-text" style="top: 30%; font-size: 22px">
                                                Add a headshot
                                            </div>
                                        </a>*@
                                    <a href="#" class="fa fa-camera headshot-camera" title="Change your headshot"></a>

                                </div>
                            </div>

                            @* Profile Name & Category *@
                            <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7">
                                <div class="profile-headshot-details">
                                    <h1>{{User.name}}</h1>
                                    <h3 style="margin: -5px; padding-left: 5px;">{{Address.cityOrTown}},&nbsp;{{Address.stateOrProvince}},&nbsp;{{Address.country}}</h3>
                                    <p>
                                        <span ng-repeat="cat in JobCategory">{{cat.displayName}},&nbsp;</span>
                                    </p>

                                </div>
                                <div class="profile-headshot-viewAs">
                                    <a asp-controller="ProfileEdit" asp-action="TalentProfileViewAs" class="btn btn-success">
                                        View Profile As
                                    </a>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                        <div class="profile-count-container">
                            <div>
                                <span class="fa fa-eye">&nbsp;Profile Views</span>
                                <span style="float: right;">0</span>
                            </div>
                            <div>
                                <span class="fa fa-commenting-o">&nbsp;Comments</span>
                                <span style="float: right;">0</span>
                            </div>
                            <div>
                                <span class="fa fa-star-o">&nbsp;Following</span>
                                <span style="float: right;">0</span>
                            </div>
                            <div>
                                <span class="fa fa-star">&nbsp;Followers</span>
                                <span style="float: right;">0</span>
                            </div>
                            <div>
                                <span class="fa fa-bullhorn">&nbsp;Castings</span>
                                <span style="float: right;">0</span>
                            </div>
                            <div>
                                <span class="fa fa-bullhorn">&nbsp;Applied</span>
                                <span style="float: right;">0</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            @* Job Category *@
            <section class="row">
                <div class="section-profile-item-container">
                    <div class="item-heading-container">
                        <label>
                            <span class="item-heading-label">Select as your interests?</span>
                            <span class="text-bottom">
                                We use this to match you with relevant auditions & jobs.
                            </span>
                        </label>
                        <a class="fa fa-edit item-edit" title="Edit" asp-controller="ProfileManage" asp-action="JobCategory"></a>
                    </div>
                    <div class="item-detail" style="font-size:16px;">
                        <div class="col-xs-6 col-sm-6 col-md-3 padding-15" ng-repeat="CurrUsrJobCat in CurrentUserJobCategories">
                            <span class="{{(CurrUsrJobCat.isUserCategory ? 'fa fa-check-square-o' : 'fa fa-square-o') }}">&nbsp;{{CurrUsrJobCat.dispName}}</span>
                        </div>
                    </div>
                </div>
            </section>

            @* Media *@
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 padding-0 section-profile-item-container">
                    <div class="item-heading-container">
                        <span class="item-heading-label">Media</span>
                    </div>
                    <div class="item-detail">
                        <ul class="item-detail-nav" style="font-size:16px;">
                            <li>
                                <a href="#"><strong style="padding:5px; color:#ff6a00;">1</strong> Photo</a>
                                <a href="#" style="float:right;">
                                    <span class="fa fa-image">&nbsp;</span>
                                    <span>Upload</span>
                                </a>
                            </li>
                            <li>
                                <a href="#"><strong style="padding:5px; color:#ff6a00;">1</strong> Audios</a>
                                <a href="#" style="float:right;">
                                    <span class="fa fa-audio-description">&nbsp;</span>
                                    <span>Upload</span>
                                </a>
                            </li>
                            <li>
                                <a href="#"><strong style="padding:5px; color:#ff6a00;">1</strong> Videos</a>
                                <a href="#" style="float:right;">
                                    <span class="fa fa-file-video-o">&nbsp;</span>
                                    <span>Upload</span>
                                </a>
                            </li>
                        </ul>
                    </div>

                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 padding-0 section-profile-item-container">
                    <div class="item-heading-container">
                        <span class="item-heading-label">Membership</span>
                    </div>
                </div>
            </div>

            @* About *@
            <div class="row section-profile-item-container">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 padding-0 " style="border-bottom-left-radius:0;border-bottom-right-radius:0;">
                    <div class="item-heading-container">
                        <span class="item-heading-label">About</span>
                        <a asp-controller="ProfileManage" asp-action="About" class="fa fa-edit item-edit" title="Edit"></a>
                    </div>
                    <div class="item-detail-label" style="min-height:100px;">
                        {{UserAbout.about}}
                    </div>                   
                    <div class="col-xs-12 ">
                        <hr />
                        <dl class="display:block; margin-top: -20px;">
                            <dt class="fa " style="padding:10px;">
                                <span>{{WebName}}&nbsp; profile :</span>
                                <span ng-if="UserAbout.nickName == null">profile link.</span>
                                <a ng-if="UserAbout.nickName != null" class="link-social" href="{{social.preUrl + social.nickName}}" target="_blank">
                                    {{social.preUrl + social.nickName}}
                                </a>
                            </dt>
                            <dt ng-repeat="social in UserAbout.userSocialAddressList" class="{{social.iconClass}}" style="display:block; padding:10px;">
                                <span>{{social.socialName}}:&nbsp;</span>
                                <span ng-if="social.socialUserName == null">Share, to boost your rofile.</span>
                                <a ng-if="social.socialUserName != null" class="link-social" href="{{social.preUrl + social.socialUserName}}" target="_blank">
                                    {{social.preUrl + social.socialUserName}}
                                </a>
                                @*<a ng-if="social.socialUserName != null"   class="fa fa-edit" style="padding-left:10px;"></a>*@
                            </dt>
                        </dl>
                    </div>
                </div>
            </div>

            @* User info *@
            <section class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 padding-0 section-profile-item-container">
                    <div class="item-heading-container">
                        <span class="item-heading-label">Your Info</span>
                        <a asp-controller="ProfileManage" asp-action="TalentInfo" class="fa fa-edit item-edit" title="Edit"></a>
                    </div>
                    <div class="item-detail" style="font-size:16px;">
                        <div class="col-sm-6 span-text">D.O.B : </div>
                        <div class="col-sm-6 span-text">Age : </div>
                        <div class="col-sm-6 span-text">Marital Status : </div>
                        <div class="col-sm-6 span-text">Blood Group : </div>

                        <div class="col-sm-6 span-text">Mother Tongue : </div>
                        <div class="col-sm-6 span-text">Religion : </div>
                        <div class="col-sm-6 span-text">Health Information : </div>
                        <div class="col-sm-6 span-text">Disability : </div>
                    </div>
                </div>
            </section>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 padding-0 section-profile-item-container">
                    <div class="item-heading-container">
                        <span class="item-heading-label">Physical appearance</span>
                        <a asp-controller="ProfileManage" asp-action="TalentInfo" class="fa fa-edit item-edit" title="Edit"></a>
                    </div>
                    <div class="item-detail" style="font-size:16px;">
                        <div class="col-sm-6 span-text">Height : </div>
                        <div class="col-sm-6 span-text">Weight : </div>
                        <div class="col-sm-6 span-text">Body Type : </div>
                        <div class="col-sm-6 span-text">Skin color : </div>
                        <div class="col-sm-6 span-text">Eye color : </div>
                        <div class="col-sm-6 span-text">Chest : </div>
                        <div class="col-sm-6 span-text">Hair Length : </div>
                        <div class="col-sm-6 span-text">Hair Type : </div>
                        <div class="col-sm-6 span-text">Hair color : </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 padding-0 section-profile-item-container">
                    <div class="item-heading-container">
                        <span class="item-heading-label">Recomendation</span>
                    </div>
                    <div class="item-detail">
                        <span class="span-text"> You dont have any recomendation Now. Invite you friends or Casting Proffesionals for recomendation.</span>
                    </div>
                    <div style="width: 100%; height: 35px; background-color: #dadada; text-align: center; padding: 10px; cursor:pointer">
                        <a class="text-success text-center" style="padding:10px; width:100%;">Ask to be recommended</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
            <div class="row">
                <div class="section-profile-media" style="height:266px;">
                    <div style="height:35px;">
                        <a href="#">
                            <i class="fa fa-universal-access media-heading"></i>
                            <small class="media-heading-label">Membership</small>
                        </a>
                        <a href="#" style="float:right; padding: 7px;"><i class="fa fa-chevron-down"></i></a>
                    </div>
                    <div class="" style="padding:4px; text-align:justify;">
                        <h3>You're a basic member</h3>
                        <p>
                            Full Members get discovered. They appear in front of casting professionals in the Talent Directory, they can add unlimited photos to their profiles, and apply to more auditions & jobs.
                        </p>
                        <div style="width:150px; margin:auto;">
                            <button class="btn btn-success">Upgrade Your Account</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</section>

@section Scripts {


}


@*

     <div class="profile-audio-container  section-profile-media">
                        <div style="height:35px;">
                            <a href="#">
                                <i class="fa fa-globe media-heading"></i>
                                <small class="media-heading-label">Intro</small>
                            </a>
                            <a href="#" style="float:right; padding: 7px;"><i class="fa fa-chevron-down"></i></a>
                        </div>
                    </div>
          <div class="profile-audio-container  section-profile-media">
    <div class="row media-wrapper">
        <div class="col-sm-4 media-container">
            <img src="~/css/icons/ranjeet.jpg" />
            <div class="media-label">Ranjeet Kumar</div>
        </div>
        <div class="col-sm-4 media-container">
            <img src="~/css/icons/ranjeet.jpg" />
        </div>
        <div class="col-sm-4 media-container">
            <img src="~/css/icons/ranjeet.jpg" />
        </div>
        <div class="col-sm-4 media-container">
            <img src="~/css/icons/ranjeet.jpg" />
        </div>
        <div class="col-sm-4 media-container">
            <img src="~/css/icons/ranjeet.jpg" />
        </div>
        <div class="col-sm-4 media-container">
            <img src="~/css/icons/ranjeet.jpg" />
        </div>
        <div class="col-sm-4 media-container">
            <img src="~/css/icons/ranjeet.jpg" />
        </div>
        <div class="col-sm-4 media-container">
            <img src="~/css/icons/ranjeet.jpg" />
        </div>
        <div class="col-sm-4 media-container">
            <img src="~/css/icons/ranjeet.jpg" />
        </div>
    </div>*@

@*<div class="profile-audio-container  section-profile-media">
        <div style="height:35px;">
            <a href="#">
                <i class="fa fa-globe media-heading"></i>
                <small class="media-heading-label"></small>
            </a>
            <a href="#" style="float:right; padding: 7px;"><i class="fa fa-chevron-down"></i></a>
        </div>
    </div>
    <div class="profile-audio-container  section-profile-media">
        <div class="row media-wrapper">
            <div class="col-sm-4 media-container">
                <img src="~/css/icons/ranjeet.jpg" />
                <div class="media-label"></div>
            </div>
            <div class="col-sm-4 media-container">
                <img src="~/css/icons/ranjeet.jpg" />
            </div>
            <div class="col-sm-4 media-container">
                <img src="~/css/icons/ranjeet.jpg" />
            </div>
            <div class="col-sm-4 media-container">
                <img src="~/css/icons/ranjeet.jpg" />
            </div>
            <div class="col-sm-4 media-container">
                <img src="~/css/icons/ranjeet.jpg" />
            </div>
            <div class="col-sm-4 media-container">
                <img src="~/css/icons/ranjeet.jpg" />
            </div>
            <div class="col-sm-4 media-container">
                <img src="~/css/icons/ranjeet.jpg" />
            </div>
            <div class="col-sm-4 media-container">
                <img src="~/css/icons/ranjeet.jpg" />
            </div>
            <div class="col-sm-4 media-container">
                <img src="~/css/icons/ranjeet.jpg" />
            </div>
        </div>
       *@
