@{
    ViewData["Title"] = "Confirm Email Sent";
}

<h2>@ViewData["Title"].</h2>
<div>
    <p>
        <a asp-controller="Account" asp-action="Login">Please check your email and confirm youremailaddress.</a>.
    </p>
</div>
