@using Star4Cast.ViewModels.Account
@model SignUpViewModel


@{
    ViewData["Title"] = "SignUp";
}
<section class="section-signup">
    <div class="container">
        <div class="container-box">
            <div class="form-wrapper">
                <div class="form-section">
                    <h1>Discover talents or be discovered</h1>
                </div>
                <h3> Get started - it's free. It takes few minutes to create your profile.</h3>

                <h3 style="margin-top: -14px;">
                    Looking for talent?&nbsp;
                    <a asp-controller="Account" asp-action="SignUpCasting">Register as a casting professional</a>
                </h3>
            </div>

            <form asp-controller="Account" asp-action="SignUp" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form">
               
                <div class="row form-group">
                    <div class="col-xs-6 col-md-6">
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                        <input id="FirstName" name="FirstName" placeholder="First Name" type="text" class="form-control" />
                    </div>
                    <div class="col-xs-6 col-md-6">
                        <span asp-validation-for="LastName" class="text-danger"></span>
                        <input asp-for="LastName" class="form-control" placeholder="Last Name" />
                    </div>
                </div>
                <div class="form-group">
                    <span asp-validation-for="Email" class="text-danger"></span>
                    <input asp-for="Email" class="form-control" placeholder="Your Email" />
                </div>
                <div class="form-group">
                    <span asp-validation-for="Password" class="text-danger"></span>
                    <input asp-for="Password" class="form-control" placeholder="Enter Password" />
                </div>
                <div class="form-group">
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    <input asp-for="ConfirmPassword" class="form-control" placeholder="Re-enter Password" />
                </div>
                <div class="form-group">
                    <label for="">Birth Date</label>

                    <span asp-validation-for="Dob" class="text-danger"></span>
                    <input asp-for="Dob" class="form-control" />

                    @*  <div class="row">
                        <div class="col-xs-4 col-md-4">
                                <select class="form-control">
                                    <option value="Month">Month</option>
                                </select>
                            </div>
                            <div class="col-xs-4 col-md-4">
                                <select class="form-control">
                                    <option value="Day">Day</option>
                                </select>
                            </div>
                            <div class="col-xs-4 col-md-4">
                                <select class="form-control">
                                    <option value="Year">Year</option>
                                </select>
                            </div> </div>*@

                </div>

                <div class="form-group">
                    <label>Gender <span class="req">*</span></label>
                    <span asp-validation-for="Gender" class="text-danger"></span>
                    <div class="row">
                        <div class="btn-group" data-toggle="buttons" style="padding: 15px; padding-top: 0px;">
                            <label class="btn btn-default" style="width: 100px;"><input type="radio" name="Gender" id="Gender" value="M" checked="checked" />Male</label>
                            <label class="btn btn-default" style="width: 100px;"><input type="radio" name="Gender" id="Gender" value="F" />Female</label>
                            <label class="btn btn-default" style="width: 100px;"><input type="radio" name="Gender" id="Gender" value="O" />Others</label>
                        </div>
                    </div>
                </div>


                <p class="disclosure-text">
                    By clicking
                    <span id="disclosure-cta">Join now</span>, you agree to StarIn's
                    <a target="_blank" class="tapable" href="https://www.linkedin.com/legal/user-agreement?trk=uno-reg-guest-home-user-agreement">User Agreement</a>,
                    <a target="_blank" class="tapable" href="https://www.linkedin.com/legal/privacy-policy?trk=uno-reg-guest-home-privacy-policy">Privacy Policy</a>, and
                    <a target="_blank" class="tapable" href="https://www.linkedin.com/legal/cookie-policy?trk=uno-reg-guest-home-cookie-policy">Cookie Policy</a>.
                </p>
                <br />
                <br />
                <button type="submit" class="btn btn-lg btn-primary btn-block">Sign up</button>
                @*<a asp-controller="Account" asp-action="EmailConfirmation" class="btn btn-lg btn-primary btn-block">

                    </a>*@
                @*<button class="btn btn-lg btn-primary btn-block" type="submit">
                        Sign up
                    </button>*@
            </form>
        </div>
    </div>
</section>

@section Scripts {
    @*<script>
            $(function (argument) {
                $('input[name=Gender]:radio').bootstrapSwitch();
                //$('#Gender').bootstrapSwitch();
            });

            function click() {
                //alert($('input[name=year]:checked').val());

                alert($(this).serialize());

                return false;
            };
        </script>*@
}
