<section id="talentSearch" class="section-talent-directory">
    <div class="container">
        <div id="pageHeding" class="row">
            <div class="page-heading">
                <h1>Talent Directory</h1>

            </div>
        </div>
        <div id="category" class="row">
            <div class="col-xs-12 col-sm-6 col-md-4 grid-item">
                <a href="#">
                    Actors & Extras
                    <span class="count">(57,366)</span>
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 grid-item">
                <a href="#">
                    Dancers
                    <span class="count">(57,366)</span>
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 grid-item">
                <a href="#">
                    Film & Stage Crew
                    <span class="count">(57,366)</span>
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 grid-item">
                <a href="/talent/stylists/">
                    Hair, Makeup & Stylists
                    <span class="count">(4,851)</span>
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 grid-item">
                <a href="/talent/models/">
                    Models
                    <span class="count">(44,557)</span>
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 grid-item">
                <a href="/talent/musicians/">
                    Musicians
                    <span class="count">(18,639)</span>
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 grid-item">
                <a href="/talent/photographers/">
                    Photographers
                    <span class="count">(9,219)</span>
                </a>
            </div>
        </div>
        <div id="searchContainer" class="row search-container margin-top20">
            <div class="col-xs-12 col-sm-6 padding-15 hand-pointer text-white">
                <div id="searchContainerOpner" class="search-label display-inline padding-5">
                    <i class="fa fa-search-plus display-inline"> Refine Search</i>
                </div>
                <div id="filterCreteria" class="filter-creteria is-close">
                    <div class="visible-xs form-group" style="padding:5px;">
                        <input name="keywordSearcMobile" type="text" id="keywordSearcMobile" style="width:80%!important; float:left;" class="form-control" placeholder="Keyword search...">
                        <button name="btnKeywordSearch" class="fa fa-search btn btn-success" style="padding: 9px; margin-left: 5px;"></button>
                        <hr />
                    </div>
                    <div class="form-group">
                        <label>Category: </label>
                        <select id="categoryFilter" name="categoryFilter" class="form-control">
                            <option value="">Any category</option>
                            <option value="10">Actors &amp; Extras</option>
                            <option value="7">Dancers</option>
                            <option value="58">Film &amp; Stage Crew</option>
                            <option value="107">Hair, Makeup &amp; Stylists</option>
                            <option value="8">Models</option>
                            <option value="12">Musicians</option>
                            <option value="80">Photographers</option>

                        </select>
                    </div>
                    <div class="form-group">
                        <label>Country: </label>
                        <select name="countryFilter" id="countryFilter" class="form-control">
                            <option selected="selected" value="">Any country</option>
                            <option value=""></option>
                            <option value="2">Australia</option>
                            <option value="5">Canada</option>
                            <option value="73">France</option>
                            <option value="79">Germany</option>
                            <option value="7">Ireland</option>
                            <option value="1">New Zealand</option>
                            <option value="6">South Africa</option>
                            <option value="3">United Kingdom</option>
                            <option value="4">United States</option>
                            <option value=""></option>
                            <option value="8">Afghanistan</option>
                            <option value="9">Albania</option>
                            <option value="10">Algeria</option>
                            <option value="11">American Samoa</option>
                            <option value="12">Andorra</option>
                            <option value="13">Angola</option>
                            <option value="14">Anguilla</option>
                            <option value="15">Antigua and Barbuda</option>
                            <option value="16">APO/FPO</option>
                            <option value="17">Argentina</option>
                            <option value="18">Armenia</option>
                            <option value="19">Aruba</option>
                            <option value="20">Austria</option>
                            <option value="21">Azerbaijan Republic</option>
                            <option value="22">Bahamas</option>
                            <option value="23">Bahrain</option>
                            <option value="24">Bangladesh</option>
                            <option value="25">Barbados</option>
                            <option value="26">Belarus</option>
                            <option value="27">Belgium</option>
                            <option value="28">Belize</option>
                            <option value="29">Benin</option>
                            <option value="30">Bermuda</option>
                            <option value="31">Bhutan</option>
                            <option value="32">Bolivia</option>
                            <option value="33">Bosnia and Herzegovina</option>
                            <option value="34">Botswana</option>
                            <option value="35">Brazil</option>
                            <option value="36">British Virgin Islands</option>
                            <option value="37">Brunei Darussalam</option>
                            <option value="38">Bulgaria</option>
                            <option value="39">Burkina Faso</option>
                            <option value="40">Burma</option>
                            <option value="41">Burundi</option>
                            <option value="42">Cambodia</option>
                            <option value="43">Cameroon</option>
                            <option value="44">Cape Verde Islands</option>
                            <option value="45">Cayman Islands</option>
                            <option value="46">Central African Republic</option>
                            <option value="47">Chad</option>
                            <option value="48">Chile</option>
                            <option value="49">China</option>
                            <option value="50">Colombia</option>
                            <option value="51">Comoros</option>
                            <option value="52">Congo</option>
                            <option value="53">Cook Islands</option>
                            <option value="54">Costa Rica</option>
                            <option value="55">Cote d Ivoire</option>
                            <option value="56">Croatia</option>
                            <option value="57">Cyprus</option>
                            <option value="58">Czech Republic</option>
                            <option value="59">Denmark</option>
                            <option value="60">Djibouti</option>
                            <option value="61">Dominica</option>
                            <option value="62">Dominican Republic</option>
                            <option value="63">Ecuador</option>
                            <option value="64">Egypt</option>
                            <option value="65">El Salvador</option>
                            <option value="66">Equatorial Guinea</option>
                            <option value="67">Eritrea</option>
                            <option value="68">Estonia</option>
                            <option value="69">Ethiopia</option>
                            <option value="70">Falkland Islands</option>
                            <option value="71">Fiji</option>
                            <option value="72">Finland</option>
                            <option value="74">French Guiana</option>
                            <option value="75">French Polynesia</option>
                            <option value="76">Gabon Republic</option>
                            <option value="77">Gambia</option>
                            <option value="78">Georgia</option>
                            <option value="80">Ghana</option>
                            <option value="81">Gibraltar</option>
                            <option value="82">Greece</option>
                            <option value="83">Greenland</option>
                            <option value="84">Grenada</option>
                            <option value="85">Guadeloupe</option>
                            <option value="86">Guam</option>
                            <option value="87">Guatemala</option>
                            <option value="88">Guernsey</option>
                            <option value="89">Guinea</option>
                            <option value="90">Guinea-Bissau</option>
                            <option value="91">Guyana</option>
                            <option value="92">Haiti</option>
                            <option value="93">Honduras</option>
                            <option value="94">Hong Kong</option>
                            <option value="95">Hungary</option>
                            <option value="96">Iceland</option>
                            <option value="97">India</option>
                            <option value="98">Indonesia</option>
                            <option value="99">Israel</option>
                            <option value="100">Italy</option>
                            <option value="101">Jamaica</option>
                            <option value="102">Jan Mayen</option>
                            <option value="103">Japan</option>
                            <option value="104">Jersey</option>
                            <option value="105">Jordan</option>
                            <option value="106">Kazakhstan</option>
                            <option value="107">Kenya Coast Republic</option>
                            <option value="108">Kiribati</option>
                            <option value="109">Korea, South</option>
                            <option value="110">Kuwait</option>
                            <option value="111">Kyrgyzstan</option>
                            <option value="112">Laos</option>
                            <option value="113">Latvia</option>
                            <option value="114">Lebanon</option>
                            <option value="115">Lesotho</option>
                            <option value="116">Liechtenstein</option>
                            <option value="117">Lithuania</option>
                            <option value="118">Luxembourg</option>
                            <option value="119">Macau</option>
                            <option value="120">Macedonia</option>
                            <option value="121">Madagascar</option>
                            <option value="122">Malawi</option>
                            <option value="123">Malaysia</option>
                            <option value="124">Maldives</option>
                            <option value="125">Mali</option>
                            <option value="126">Malta</option>
                            <option value="127">Marshall Islands</option>
                            <option value="128">Martinique</option>
                            <option value="129">Mauritania</option>
                            <option value="130">Mauritius</option>
                            <option value="131">Mayotte</option>
                            <option value="132">Mexico</option>
                            <option value="133">Micronesia</option>
                            <option value="134">Moldova</option>
                            <option value="135">Monaco</option>
                            <option value="136">Mongolia</option>
                            <option value="137">Montserrat</option>
                            <option value="138">Morocco</option>
                            <option value="139">Mozambique</option>
                            <option value="140">Namibia</option>
                            <option value="141">Nauru</option>
                            <option value="142">Nepal</option>
                            <option value="143">Netherlands</option>
                            <option value="144">Netherlands Antilles</option>
                            <option value="145">New Caledonia</option>
                            <option value="146">Nicaragua</option>
                            <option value="147">Niger</option>
                            <option value="148">Nigeria</option>
                            <option value="149">Niue</option>
                            <option value="150">Norway</option>
                            <option value="151">Oman</option>
                            <option value="152">Pakistan</option>
                            <option value="153">Palau</option>
                            <option value="154">Panama</option>
                            <option value="155">Papua New Guinea</option>
                            <option value="156">Paraguay</option>
                            <option value="157">Peru</option>
                            <option value="158">Philippines</option>
                            <option value="159">Poland</option>
                            <option value="160">Portugal</option>
                            <option value="161">Puerto Rico</option>
                            <option value="162">Qatar</option>
                            <option value="163">Romania</option>
                            <option value="164">Russia</option>
                            <option value="165">Rwanda</option>
                            <option value="166">Saint Helena</option>
                            <option value="167">Saint Kitts-Nevis</option>
                            <option value="168">Saint Lucia</option>
                            <option value="169">Saint Pierre and Miquelon</option>
                            <option value="170">Saint Vincent and the Grenadines</option>
                            <option value="171">San Marino</option>
                            <option value="172">Saudi Arabia</option>
                            <option value="173">Senegal</option>
                            <option value="174">Seychelles</option>
                            <option value="175">Sierra Leone</option>
                            <option value="176">Singapore</option>
                            <option value="177">Slovakia</option>
                            <option value="178">Slovenia</option>
                            <option value="179">Solomon Islands</option>
                            <option value="180">Somalia</option>
                            <option value="181">Spain</option>
                            <option value="182">Sri Lanka</option>
                            <option value="183">Suriname</option>
                            <option value="184">Svalbard</option>
                            <option value="185">Swaziland</option>
                            <option value="186">Sweden</option>
                            <option value="187">Switzerland</option>
                            <option value="188">Syria</option>
                            <option value="189">Tahiti</option>
                            <option value="190">Taiwan</option>
                            <option value="191">Tajikistan</option>
                            <option value="192">Tanzania</option>
                            <option value="193">Thailand</option>
                            <option value="194">Togo</option>
                            <option value="195">Tonga</option>
                            <option value="196">Trinidad and Tobago</option>
                            <option value="197">Tunisia</option>
                            <option value="198">Turkey</option>
                            <option value="199">Turkmenistan</option>
                            <option value="200">Turks and Caicos Islands</option>
                            <option value="201">Tuvalu</option>
                            <option value="202">Uganda</option>
                            <option value="203">Ukraine</option>
                            <option value="204">United Arab Emirates</option>
                            <option value="205">Uruguay</option>
                            <option value="206">Uzbekistan</option>
                            <option value="207">Vanuatu</option>
                            <option value="208">Vatican City State</option>
                            <option value="209">Venezuela</option>
                            <option value="210">Vietnam</option>
                            <option value="211">Virgin Islands</option>
                            <option value="212">Wallis and Futuna</option>
                            <option value="213">Western Sahara</option>
                            <option value="214">Western Samoa</option>
                            <option value="215">Yemen</option>
                            <option value="216">Yugoslavia</option>
                            <option value="217">Zambia</option>
                            <option value="218">Zimbabwe</option>

                        </select>
                    </div>
                    <div class="form-group">
                        <label>State: </label>
                        <select name="stateFilter" id="stateFilter" class="form-control">
                            <option selected="selected" value="">Any State</option>

                        </select>
                    </div>
                    <div class="form-group">
                        <label>City: </label>
                        <select name="cityFilter" id="cityFilter" class="form-control">
                            <option selected="selected" value="">Any City</option>

                        </select>
                    </div>

                    <div class="form-group" style="margin-bottom:20px; margin-top:20px;">
                        <label>Gender: </label>
                        <label style="display:inline;" class="form-control">
                            <input id="genderFilter" type="checkbox" name="genderFilter" checked="checked"> Male
                        </label>

                        <label style="display:inline; margin-left:15px;" class="form-control">
                            <input id="genderFilter" type="checkbox" name="genderFilter" checked="checked"> Female
                        </label>
                    </div>

                    <div class="form-group">
                        <label>Age : </label>
                        <select name="ageFrom" style="display:inline;  width:30%;" class="form-control">
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                            <option value="13">13</option>
                            <option value="14">14</option>
                            <option value="15">15</option>
                            <option value="16">16</option>
                            <option value="17">17</option>
                            <option selected="selected" value="18">18</option>
                            <option value="19">19</option>
                            <option value="20">20</option>
                            <option value="21">21</option>
                            <option value="22">22</option>
                            <option value="23">23</option>
                            <option value="24">24</option>
                            <option value="25">25</option>
                            <option value="26">26</option>
                            <option value="27">27</option>
                            <option value="28">28</option>
                            <option value="29">29</option>
                            <option value="30">30</option>
                            <option value="31">31</option>
                            <option value="32">32</option>
                            <option value="33">33</option>
                            <option value="34">34</option>
                            <option value="35">35</option>
                            <option value="36">36</option>
                            <option value="37">37</option>
                            <option value="38">38</option>
                            <option value="39">39</option>
                            <option value="40">40</option>
                            <option value="41">41</option>
                            <option value="42">42</option>
                            <option value="43">43</option>
                            <option value="44">44</option>
                            <option value="45">45</option>
                            <option value="46">46</option>
                            <option value="47">47</option>
                            <option value="48">48</option>
                            <option value="49">49</option>
                            <option value="50">50</option>
                            <option value="51">51</option>
                            <option value="52">52</option>
                            <option value="53">53</option>
                            <option value="54">54</option>
                            <option value="55">55</option>
                            <option value="56">56</option>
                            <option value="57">57</option>
                            <option value="58">58</option>
                            <option value="59">59</option>
                            <option value="60">60</option>
                            <option value="61">61</option>
                            <option value="62">62</option>
                            <option value="63">63</option>
                            <option value="64">64</option>
                            <option value="65">65</option>
                            <option value="66">66</option>
                            <option value="67">67</option>
                            <option value="68">68</option>
                            <option value="69">69</option>
                            <option value="70">70</option>
                            <option value="71">71</option>
                            <option value="72">72</option>
                            <option value="73">73</option>
                            <option value="74">74</option>
                            <option value="75">75</option>
                            <option value="76">76</option>
                            <option value="77">77</option>
                            <option value="78">78</option>
                            <option value="79">79</option>
                            <option value="80">80</option>
                            <option value="81">81</option>
                            <option value="82">82</option>
                            <option value="83">83</option>
                            <option value="84">84</option>
                            <option value="85">85</option>
                            <option value="86">86</option>
                            <option value="87">87</option>
                            <option value="88">88</option>
                            <option value="89">89</option>
                            <option value="90">90</option>
                            <option value="91">91</option>
                            <option value="92">92</option>
                            <option value="93">93</option>
                            <option value="94">94</option>
                            <option value="95">95</option>
                            <option value="96">96</option>
                            <option value="97">97</option>
                            <option value="98">98</option>
                            <option value="99">99</option>

                        </select>
                        &nbsp;to&nbsp;
                        <select name="ageTo" style="display:inline; width:30%;" class="form-control">
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                            <option value="13">13</option>
                            <option value="14">14</option>
                            <option value="15">15</option>
                            <option value="16">16</option>
                            <option value="17">17</option>
                            <option value="18">18</option>
                            <option value="19">19</option>
                            <option value="20">20</option>
                            <option value="21">21</option>
                            <option value="22">22</option>
                            <option value="23">23</option>
                            <option value="24">24</option>
                            <option value="25">25</option>
                            <option value="26">26</option>
                            <option value="27">27</option>
                            <option value="28">28</option>
                            <option value="29">29</option>
                            <option value="30">30</option>
                            <option value="31">31</option>
                            <option value="32">32</option>
                            <option value="33">33</option>
                            <option value="34">34</option>
                            <option value="35">35</option>
                            <option value="36">36</option>
                            <option value="37">37</option>
                            <option value="38">38</option>
                            <option value="39">39</option>
                            <option value="40">40</option>
                            <option value="41">41</option>
                            <option value="42">42</option>
                            <option value="43">43</option>
                            <option value="44">44</option>
                            <option value="45">45</option>
                            <option value="46">46</option>
                            <option value="47">47</option>
                            <option value="48">48</option>
                            <option value="49">49</option>
                            <option value="50">50</option>
                            <option value="51">51</option>
                            <option value="52">52</option>
                            <option value="53">53</option>
                            <option value="54">54</option>
                            <option value="55">55</option>
                            <option value="56">56</option>
                            <option value="57">57</option>
                            <option value="58">58</option>
                            <option value="59">59</option>
                            <option value="60">60</option>
                            <option value="61">61</option>
                            <option value="62">62</option>
                            <option value="63">63</option>
                            <option value="64">64</option>
                            <option value="65">65</option>
                            <option value="66">66</option>
                            <option value="67">67</option>
                            <option value="68">68</option>
                            <option value="69">69</option>
                            <option value="70">70</option>
                            <option value="71">71</option>
                            <option value="72">72</option>
                            <option value="73">73</option>
                            <option value="74">74</option>
                            <option value="75">75</option>
                            <option value="76">76</option>
                            <option value="77">77</option>
                            <option value="78">78</option>
                            <option value="79">79</option>
                            <option value="80">80</option>
                            <option value="81">81</option>
                            <option value="82">82</option>
                            <option value="83">83</option>
                            <option value="84">84</option>
                            <option value="85">85</option>
                            <option value="86">86</option>
                            <option value="87">87</option>
                            <option value="88">88</option>
                            <option value="89">89</option>
                            <option value="90">90</option>
                            <option value="91">91</option>
                            <option value="92">92</option>
                            <option value="93">93</option>
                            <option value="94">94</option>
                            <option value="95">95</option>
                            <option value="96">96</option>
                            <option value="97">97</option>
                            <option value="98">98</option>
                            <option selected="selected" value="99">99</option>

                        </select>
                    </div>
                    <div class="form-group">
                        <label>Min height</label>
                        <select name="heightFilterFrom" class="form-control">
                            <option selected="selected" value="">No min height</option>
                            <option value="132">132 cm / 4ft 4in</option>
                            <option value="134">134 cm / 4ft 5in</option>
                            <option value="137">137 cm / 4ft 6in</option>
                            <option value="139">139 cm / 4ft 7in</option>
                            <option value="142">142 cm / 4ft 8in</option>
                            <option value="144">144 cm / 4ft 9in</option>
                            <option value="147">147 cm / 4ft 10in</option>
                            <option value="149">149 cm / 4ft 11in</option>
                            <option value="152">152 cm / 5ft 0in</option>
                            <option value="154">154 cm / 5ft 1in</option>
                            <option value="157">157 cm / 5ft 2in</option>
                            <option value="160">160 cm / 5ft 3in</option>
                            <option value="162">162 cm / 5ft 4in</option>
                            <option value="165">165 cm / 5ft 5in</option>
                            <option value="167">167 cm / 5ft 6in</option>
                            <option value="170">170 cm / 5ft 7in</option>
                            <option value="172">172 cm / 5ft 8in</option>
                            <option value="175">175 cm / 5ft 9in</option>
                            <option value="177">177 cm / 5ft 10in</option>
                            <option value="180">180 cm / 5ft 11in</option>
                            <option value="182">182 cm / 6ft 0in</option>
                            <option value="185">185 cm / 6ft 1in</option>
                            <option value="187">187 cm / 6ft 2in</option>
                            <option value="190">190 cm / 6ft 3in</option>
                            <option value="193">193 cm / 6ft 4in</option>
                            <option value="195">195 cm / 6ft 5in</option>
                            <option value="198">198 cm / 6ft 6in</option>
                            <option value="200">200 cm / 6ft 7in</option>
                            <option value="203">203 cm / 6ft 8in</option>
                            <option value="205">205 cm / 6ft 9in</option>
                            <option value="208">208 cm / 6ft 10in</option>
                            <option value="210">over 208 cm / 6ft 10</option>

                        </select>
                    </div>
                    <div class="form-group">
                        <label>Max height</label>
                        <select name="heightFilterTo" class="form-control">
                            <option selected="selected" value="">No max height</option>
                            <option value="132">132 cm / 4ft 4in</option>
                            <option value="134">134 cm / 4ft 5in</option>
                            <option value="137">137 cm / 4ft 6in</option>
                            <option value="139">139 cm / 4ft 7in</option>
                            <option value="142">142 cm / 4ft 8in</option>
                            <option value="144">144 cm / 4ft 9in</option>
                            <option value="147">147 cm / 4ft 10in</option>
                            <option value="149">149 cm / 4ft 11in</option>
                            <option value="152">152 cm / 5ft 0in</option>
                            <option value="154">154 cm / 5ft 1in</option>
                            <option value="157">157 cm / 5ft 2in</option>
                            <option value="160">160 cm / 5ft 3in</option>
                            <option value="162">162 cm / 5ft 4in</option>
                            <option value="165">165 cm / 5ft 5in</option>
                            <option value="167">167 cm / 5ft 6in</option>
                            <option value="170">170 cm / 5ft 7in</option>
                            <option value="172">172 cm / 5ft 8in</option>
                            <option value="175">175 cm / 5ft 9in</option>
                            <option value="177">177 cm / 5ft 10in</option>
                            <option value="180">180 cm / 5ft 11in</option>
                            <option value="182">182 cm / 6ft 0in</option>
                            <option value="185">185 cm / 6ft 1in</option>
                            <option value="187">187 cm / 6ft 2in</option>
                            <option value="190">190 cm / 6ft 3in</option>
                            <option value="193">193 cm / 6ft 4in</option>
                            <option value="195">195 cm / 6ft 5in</option>
                            <option value="198">198 cm / 6ft 6in</option>
                            <option value="200">200 cm / 6ft 7in</option>
                            <option value="203">203 cm / 6ft 8in</option>
                            <option value="205">205 cm / 6ft 9in</option>
                            <option value="208">208 cm / 6ft 10in</option>
                            <option value="210">over 208 cm / 6ft 10</option>

                        </select>
                    </div>
                    <div class="form-group">
                        <label>Ethnicity</label>
                        <select name="ethnicityFilter" class="form-control">
                            <option selected="selected" value="">Any ethnicity</option>
                            <option value="11">Aboriginal / Torres Strait Islander</option>
                            <option value="1">Asian</option>
                            <option value="2">Black</option>
                            <option value="3">East Indian</option>
                            <option value="4">Latino / Hispanic</option>
                            <option value="10">Maori</option>
                            <option value="5">Middle Eastern</option>
                            <option value="6">Native American</option>
                            <option value="7">Pacific Islander</option>
                            <option value="8">White / Caucasian</option>
                            <option value="9">Other</option>

                        </select>
                    </div>
                    <div class="form-group">
                        <label>Skin color : </label>
                        <select name="skinColorFilter" class="form-control">
                            <option selected="selected" value="">Any skin colour</option>
                            <option value="1">Black</option>
                            <option value="6">Brown</option>
                            <option value="3">Olive</option>
                            <option value="4">Tanned</option>
                            <option value="2">White</option>
                            <option value="5">Other</option>

                        </select>

                    </div>
                    <div class="form-group">
                        <select name="mediaFilter" id="mediaFilter" class="form-control">
                            <option selected="selected" value="HeadshotMedium">Headshots</option>
                            <option value="Audio">Audio</option>
                            <option value="Video">Video</option>

                        </select>
                    </div>
                    <div class="form-group">
                        <button name="filterSearchButton" value="Search" id="filterSearchButton" class="btn btn-success form-control">Search</button>
                    </div>
                    <div class="text-center padding-10">
                        <a href="#">Save this search</a>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 hidden-xs padding-10">
                <div class="form-group" style="float:right; margin-top: -2px;">
                    <input name="keywordSearcMobile" type="text" id="keywordSearcMobile" style="width:80%!important; float:left;" class="form-control" placeholder="Keyword search...">
                    <button name="btnKeywordSearch" class="fa fa-search btn btn-success" style="padding: 9px; margin-left: 5px;"></button>
                </div>
            </div>
        </div>

        <div  class="search-result-container row">
            <div class="col-md-6">
                <select id="categoryFilter" name="categoryFilter" class="selectpicker">
                    <option value="">Dfault Order</option>
                    <option value="58">Best match First</option>
                    <option value="10">Newest First</option>
                    <option value="7">Last Login</option>
                </select>
            </div>
            <div class="col-md-6 text-right">
                <span class="count"><b>1</b> - <b>20</b> of <b>73,328</b></span>
            </div>
        </div>

        <div id="searchResultContainer" class="search-result-container row">
            <div class="col-xs-6 col-sm-4 col-md-2 padding-0">
                <a href="#" class="headshot-grid">
                    <img src="https://snusercontent.global.ssl.fastly.net/member-headshot/89/3023189_7809584.jpg" alt="Bella Mc-Caty" itemprop="image">
                    <div class="details">
                        <h2>Bella</h2>
                        <div>Liverpool, UK</div>
                    </div>
                    <div class="fa fa-star-o follow"></div>
                </a>

            </div>
            <div class="col-xs-6 col-sm-4 col-md-2 padding-0">
                <a href="#" class="headshot-grid">
                    <img src="https://snusercontent.global.ssl.fastly.net/member-headshot/97/1716897_7824258.jpg" alt="Sara Parker" itemprop="image">
                    <div class="details">
                        <h2>Bella</h2>
                        <div>Liverpool, UK</div>
                    </div>
                    <div class="fa fa-star-o follow"></div>
                </a>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-2 padding-0">
                <a href="#" class="headshot-grid">
                    <img src="https://snusercontent.global.ssl.fastly.net/member-headshot/97/1716897_7824258.jpg" alt="Sara Parker" itemprop="image">
                    <div class="details">
                        <h2>Bella</h2>
                        <div>Liverpool, UK</div>
                    </div>
                    <div class="fa fa-star-o follow"></div>
                </a>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-2 padding-0">
                <a href="#" class="headshot-grid">
                    <img src="https://snusercontent.global.ssl.fastly.net/member-headshot/97/1716897_7824258.jpg" alt="Sara Parker" itemprop="image">
                    <div class="details">
                        <h2>Bella</h2>
                        <div>Liverpool, UK</div>
                    </div>
                    <div class="fa fa-star-o follow"></div>
                </a>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-2 padding-0">
                <a href="#" class="headshot-grid">
                    <img src="https://snusercontent.global.ssl.fastly.net/member-headshot/97/1716897_7824258.jpg" alt="Sara Parker" itemprop="image">
                    <div class="details">
                        <h2>Bella</h2>
                        <div>Liverpool, UK</div>
                    </div>
                    <div class="fa fa-star-o follow"></div>
                </a>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-2 padding-0">
                <a href="#" class="headshot-grid">
                    <img src="https://snusercontent.global.ssl.fastly.net/member-headshot/97/1716897_7824258.jpg" alt="Sara Parker" itemprop="image">
                    <div class="details">
                        <h2>Bella</h2>
                        <div>Liverpool, UK</div>
                    </div>
                    <div class="fa fa-star-o follow"></div>
                </a>
            </div>


            <div class="col-xs-6 col-sm-4 col-md-2 padding-0">
                <a href="#" class="headshot-grid">
                    <img src="https://snusercontent.global.ssl.fastly.net/member-headshot/89/3023189_7809584.jpg" alt="Bella Mc-Caty" itemprop="image">
                    <div class="details">
                        <h2>Bella</h2>
                        <div>Liverpool, UK</div>
                    </div>
                    <div class="fa fa-star-o follow"></div>
                </a>

            </div>
            <div class="col-xs-6 col-sm-4 col-md-2 padding-0">
                <a href="#" class="headshot-grid">
                    <img src="https://snusercontent.global.ssl.fastly.net/member-headshot/97/1716897_7824258.jpg" alt="Sara Parker" itemprop="image">
                    <div class="details">
                        <h2>Bella</h2>
                        <div>Liverpool, UK</div>
                    </div>
                    <div class="fa fa-star-o follow"></div>
                </a>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-2 padding-0">
                <a href="#" class="headshot-grid">
                    <img src="https://snusercontent.global.ssl.fastly.net/member-headshot/97/1716897_7824258.jpg" alt="Sara Parker" itemprop="image">
                    <div class="details">
                        <h2>Bella</h2>
                        <div>Liverpool, UK</div>
                    </div>
                    <div class="fa fa-star-o follow"></div>
                </a>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-2 padding-0">
                <a href="#" class="headshot-grid">
                    <img src="https://snusercontent.global.ssl.fastly.net/member-headshot/97/1716897_7824258.jpg" alt="Sara Parker" itemprop="image">
                    <div class="details">
                        <h2>Bella</h2>
                        <div>Liverpool, UK</div>
                    </div>
                    <div class="fa fa-star-o follow"></div>
                </a>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-2 padding-0">
                <a href="#" class="headshot-grid">
                    <img src="https://snusercontent.global.ssl.fastly.net/member-headshot/97/1716897_7824258.jpg" alt="Sara Parker" itemprop="image">
                    <div class="details">
                        <h2>Bella</h2>
                        <div>Liverpool, UK</div>
                    </div>
                    <div class="fa fa-star-o follow"></div>
                </a>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-2 padding-0">
                <a href="#" class="headshot-grid">
                    <img src="https://snusercontent.global.ssl.fastly.net/member-headshot/97/1716897_7824258.jpg" alt="Sara Parker" itemprop="image">
                    <div class="details">
                        <h2>Bella</h2>
                        <div>Liverpool, UK</div>
                    </div>
                    <div class="fa fa-star-o follow"></div>
                </a>
            </div>


            <div class="col-xs-6 col-sm-4 col-md-2 padding-0">
                <a href="#" class="headshot-grid">
                    <img src="https://snusercontent.global.ssl.fastly.net/member-headshot/89/3023189_7809584.jpg" alt="Bella Mc-Caty" itemprop="image">
                    <div class="details">
                        <h2>Bella</h2>
                        <div>Liverpool, UK</div>
                    </div>
                    <div class="fa fa-star-o follow"></div>
                </a>

            </div>
            <div class="col-xs-6 col-sm-4 col-md-2 padding-0">
                <a href="#" class="headshot-grid">
                    <img src="https://snusercontent.global.ssl.fastly.net/member-headshot/97/1716897_7824258.jpg" alt="Sara Parker" itemprop="image">
                    <div class="details">
                        <h2>Bella</h2>
                        <div>Liverpool, UK</div>
                    </div>
                    <div class="fa fa-star-o follow"></div>
                </a>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-2 padding-0">
                <a href="#" class="headshot-grid">
                    <img src="https://snusercontent.global.ssl.fastly.net/member-headshot/97/1716897_7824258.jpg" alt="Sara Parker" itemprop="image">
                    <div class="details">
                        <h2>Bella</h2>
                        <div>Liverpool, UK</div>
                    </div>
                    <div class="fa fa-star-o follow"></div>
                </a>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-2 padding-0">
                <a href="#" class="headshot-grid">
                    <img src="https://snusercontent.global.ssl.fastly.net/member-headshot/97/1716897_7824258.jpg" alt="Sara Parker" itemprop="image">
                    <div class="details">
                        <h2>Bella</h2>
                        <div>Liverpool, UK</div>
                    </div>
                    <div class="fa fa-star-o follow"></div>
                </a>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-2 padding-0">
                <a href="#" class="headshot-grid">
                    <img src="https://snusercontent.global.ssl.fastly.net/member-headshot/97/1716897_7824258.jpg" alt="Sara Parker" itemprop="image">
                    <div class="details">
                        <h2>Bella</h2>
                        <div>Liverpool, UK</div>
                    </div>
                    <div class="fa fa-star-o follow"></div>
                </a>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-2 padding-0">
                <a href="#" class="headshot-grid">
                    <img src="https://snusercontent.global.ssl.fastly.net/member-headshot/97/1716897_7824258.jpg" alt="Sara Parker" itemprop="image">
                    <div class="details">
                        <h2>Bella</h2>
                        <div>Liverpool, UK</div>
                    </div>
                    <div class="fa fa-star-o follow"></div>
                </a>
            </div>


            <div class="col-xs-6 col-sm-4 col-md-2 padding-0">
                <a href="#" class="headshot-grid">
                    <img src="https://snusercontent.global.ssl.fastly.net/member-headshot/89/3023189_7809584.jpg" alt="Bella Mc-Caty" itemprop="image">
                    <div class="details">
                        <h2>Bella</h2>
                        <div>Liverpool, UK</div>
                    </div>
                    <div class="fa fa-star-o follow"></div>
                </a>

            </div>
            <div class="col-xs-6 col-sm-4 col-md-2 padding-0">
                <a href="#" class="headshot-grid">
                    <img src="https://snusercontent.global.ssl.fastly.net/member-headshot/97/1716897_7824258.jpg" alt="Sara Parker" itemprop="image">
                    <div class="details">
                        <h2>Bella</h2>
                        <div>Liverpool, UK</div>
                    </div>
                    <div class="fa fa-star-o follow"></div>
                </a>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-2 padding-0">
                <a href="#" class="headshot-grid">
                    <img src="https://snusercontent.global.ssl.fastly.net/member-headshot/97/1716897_7824258.jpg" alt="Sara Parker" itemprop="image">
                    <div class="details">
                        <h2>Bella</h2>
                        <div>Liverpool, UK</div>
                    </div>
                    <div class="fa fa-star-o follow"></div>
                </a>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-2 padding-0">
                <a href="#" class="headshot-grid">
                    <img src="https://snusercontent.global.ssl.fastly.net/member-headshot/97/1716897_7824258.jpg" alt="Sara Parker" itemprop="image">
                    <div class="details">
                        <h2>Bella</h2>
                        <div>Liverpool, UK</div>
                    </div>
                    <div class="fa fa-star-o follow"></div>
                </a>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-2 padding-0">
                <a href="#" class="headshot-grid">
                    <img src="https://snusercontent.global.ssl.fastly.net/member-headshot/97/1716897_7824258.jpg" alt="Sara Parker" itemprop="image">
                    <div class="details">
                        <h2>Bella</h2>
                        <div>Liverpool, UK</div>
                    </div>
                    <div class="fa fa-star-o follow"></div>
                </a>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-2 padding-0">
                <a href="#" class="headshot-grid">
                    <img src="https://snusercontent.global.ssl.fastly.net/member-headshot/97/1716897_7824258.jpg" alt="Sara Parker" itemprop="image">
                    <div class="details">
                        <h2>Bella</h2>
                        <div>Liverpool, UK</div>
                    </div>
                    <div class="fa fa-star-o follow"></div>
                </a>
            </div>
        </div>

        <div id="gridPagination" class="row text-center" ng-controller="ExampleController as vm">
            <ul ng-if="vm.pager.pages.length" class="pagination">
                <li ng-class="{disabled:vm.pager.currentPage === 1}">
                    <a ng-click="vm.setPage(1)">First</a>
                </li>
                <li ng-class="{disabled:vm.pager.currentPage === 1}">
                    <a ng-click="vm.setPage(vm.pager.currentPage - 1)">Previous</a>
                </li>
                <li ng-repeat="page in vm.pager.pages" ng-class="{active:vm.pager.currentPage === page}">
                    <a ng-click="vm.setPage(page)">{{page}}</a>
                </li>
                <li ng-class="{disabled:vm.pager.currentPage === vm.pager.totalPages}">
                    <a ng-click="vm.setPage(vm.pager.currentPage + 1)">Next</a>
                </li>
                <li ng-class="{disabled:vm.pager.currentPage === vm.pager.totalPages}">
                    <a ng-click="vm.setPage(vm.pager.totalPages)">Last</a>
                </li>
            </ul>
        </div>
        <div class="row text-center margin-bottom-5">
            <span style="display:block; padding:15px;">Reach thousands of members not shown in our Talent Directory</span>
            <button id="btnSave" class="btn btn-success padding-10">
                List a Job or Audition - free
            </button>
        </div>

    </div>
</section>
@section Scripts {
    <script>
        $("#searchContainerOpner").click(function () {
            $("#filterCreteria").toggle('blind', '', 500);
        });

        (function () {
            'use strict';
            angular.module('StarIn.Factory')
            .factory('PagerService', PagerService)
                .controller('ExampleController', ExampleController);

            function ExampleController(PagerService) {
                var vm = this;

                vm.dummyItems = _.range(1, 151); // dummy array of items to be paged
                vm.pager = {};
                vm.setPage = setPage;

                initController();

                function initController() {
                    // initialize to page 1
                    vm.setPage(1);
                }

                function setPage(page) {
                    if (page < 1 || page > vm.pager.totalPages) {
                        return;
                    }

                    // get pager object from service
                    vm.pager = PagerService.GetPager(vm.dummyItems.length, page);

                    // get current page of items
                    vm.items = vm.dummyItems.slice(vm.pager.startIndex, vm.pager.endIndex);
                }
            }

            function PagerService() {
                // service definition
                var service = {};

                service.GetPager = GetPager;

                return service;

                // service implementation
                function GetPager(totalItems, currentPage, pageSize) {
                    // default to first page
                    currentPage = currentPage || 1;

                    // default page size is 10
                    pageSize = pageSize || 10;

                    // calculate total pages
                    var totalPages = Math.ceil(totalItems / pageSize);

                    var startPage, endPage;
                    if (totalPages <= 10) {
                        // less than 10 total pages so show all
                        startPage = 1;
                        endPage = totalPages;
                    } else {
                        // more than 10 total pages so calculate start and end pages
                        if (currentPage <= 6) {
                            startPage = 1;
                            endPage = 10;
                        } else if (currentPage + 4 >= totalPages) {
                            startPage = totalPages - 9;
                            endPage = totalPages;
                        } else {
                            startPage = currentPage - 5;
                            endPage = currentPage + 4;
                        }
                    }

                    // calculate start and end item indexes
                    var startIndex = (currentPage - 1) * pageSize;
                    var endIndex = startIndex + pageSize;

                    // create an array of pages to ng-repeat in the pager control
                    var pages = _.range(startPage, endPage + 1);

                    // return object with all pager properties required by the view
                    return {
                        totalItems: totalItems,
                        currentPage: currentPage,
                        pageSize: pageSize,
                        totalPages: totalPages,
                        startPage: startPage,
                        endPage: endPage,
                        startIndex: startIndex,
                        endIndex: endIndex,
                        pages: pages
                    };
                }
            }
        })();

    </script>
}
