<section id="physicalAppreanceEdit">
    <div class="row">
        <div class="container section page-heading">
                <h1>Acting Details</h1>
        </div>
    </div>
    <div class="row">
        <div class="container section">
            <div class="section-container">
                <form action="#" method="post" class="form padding-10" role="form">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="profile-edit-label">Auditions & Jobs I'm interested in *</label>
                                <div class="profile-edit-container row">
                                    <div class="col-xs-6 col-sm-3">
                                        <input id="checkbox2" type="checkbox" checked="" class="">
                                        <span class="checkboc-label">Primary</span>
                                    </div>
                                    <div class="col-xs-6 col-sm-3">
                                        <input id="actingCategories" class="" type="checkbox" name="actingCategories" checked="checked" value="32" />
                                        <span class="checkboc-label">test</span>
                                    </div>
                                    <div class="col-xs-6 col-sm-3">
                                        <input id="checkbox2" type="checkbox" checked="" class="">
                                        <span class="checkboc-label">Primary</span>
                                    </div>
                                    <div class="col-xs-6 col-sm-3">
                                        <input id="checkbox2" type="checkbox" checked="" class="">
                                        <span class="checkboc-label">Primary</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="profile-edit-label">Acting experience</label>
                                <div class="profile-edit-container col-sm-4">
                                    <select name="dropDownactingExperience" id="dropDownactingExperience" class="form-control">
                                        <option value="0">Please select...</option>
                                        <option selected="selected" value="620">No previous acting experience</option>
                                        <option value="7">Extra</option>
                                        <option value="8">Previous unpaid speaking roles</option>
                                        <option value="9">Previous paid speaking roles</option>

                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="profile-edit-label">Languages</label>
                                <div class="profile-edit-container row">
                                    <div class="col-xs-6 col-sm-3">
                                        <input id="checkbox2" type="checkbox" checked="" class="">
                                        <span class="checkboc-label">Hindi</span>
                                    </div>
                                    <div class="col-xs-6 col-sm-3">
                                        <input id="actingCategories" class="" type="checkbox" name="actingCategories" checked="checked" value="32" />
                                        <span class="checkboc-label">English</span>
                                    </div>
                                    <div class="col-xs-6 col-sm-3">
                                        <input id="checkbox2" type="checkbox" checked="" class="">
                                        <span class="checkboc-label">Marathi</span>
                                    </div>
                                    <div class="col-xs-6 col-sm-3">
                                        <input id="checkbox2" type="checkbox" checked="" class="">
                                        <span class="checkboc-label">Panjabi</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="profile-edit-label">Accents</label>
                                <div class="profile-edit-container row">
                                    <div class="col-xs-6 col-sm-3">
                                        <input id="checkbox2" type="checkbox" checked="" class="">
                                        <span class="checkboc-label">Indian</span>
                                    </div>
                                    <div class="col-xs-6 col-sm-3">
                                        <input id="actingCategories" class="" type="checkbox" name="actingCategories" checked="checked" value="32" />
                                        <span class="checkboc-label">Indian</span>
                                    </div>
                                    <div class="col-xs-6 col-sm-3">
                                        <input id="checkbox2" type="checkbox" checked="" class="">
                                        <span class="checkboc-label">Indian</span>
                                    </div>
                                    <div class="col-xs-6 col-sm-3">
                                        <input id="checkbox2" type="checkbox" checked="" class="">
                                        <span class="checkboc-label">Indian</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="profile-edit-label">Agent</label>
                                <div class="profile-edit-container row">
                                    <div class="col-xs-6 col-sm-3">
                                        <input id="checkbox2" type="radio" checked="" class="">
                                        <span class="checkboc-label">I don't have an agent</span>
                                    </div>
                                    <div class="col-xs-6 col-sm-3">
                                        <input id="actingCategories" class="" type="radio" name="actingCategories" checked="checked" value="32" />
                                        <span class="checkboc-label">I want an agent</span>
                                    </div>
                                    <div class="col-xs-6 col-sm-3">
                                        <input id="checkbox2" type="radio" checked="" class="">
                                        <span class="checkboc-label">I have an agent</span>
                                    </div>
                                    <div class="col-xs-6 col-sm-3">&nbsp;
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="profile-edit-label">Acting experience</label>
                                <div class="profile-edit-container row">
                                    <div class="col-xs-6 col-sm-12">
                                        <textarea style="width:100%; min-height:100px;" class="form-control"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 text-center padding-15">
                        <a asp-controller="Profile" asp-action="TalentProfileViewAs"  id="btnCancle" class="btn-profile-edit-cancle btn btn-danger">Cancle</a>
                        <button id="btnSave" class="btn-profile-edit-save btn btn-success">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</section>
@section Scripts {

}
