<section id="physicalAppreanceEdit">
    <div class="row">
        <div class="container section page-heading">
            <h1>Music  Details</h1>
        </div>
    </div>
    <div class="row">
        <div class="container section">
            <div class="section-container">
                <form action="#" method="post" class="form padding-10" role="form">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="profile-edit-label">Favorite genres</label>
                                <div class="profile-edit-container row">
                                    <div class="col-xs-6 col-sm-3 margin-bottom-5">
                                        <input id="checkbox2" type="checkbox" checked="" class="">
                                        <span class="checkboc-label">Agencies</span>
                                    </div>
                                    <div class="col-xs-6 col-sm-3 margin-bottom-5">
                                        <input id="actingCategories" class="" type="checkbox" name="actingCategories" checked="checked" value="32" />
                                        <span class="checkboc-label">Catwalk</span>
                                    </div>
                                    <div class="col-xs-6 col-sm-3 margin-bottom-5">
                                        <input id="checkbox2" type="checkbox" checked="" class="">
                                        <span class="checkboc-label">Primary</span>
                                    </div>
                                    <div class="col-xs-6 col-sm-3 margin-bottom-5">
                                        <input id="checkbox2" type="checkbox" checked="" class="">
                                        <span class="checkboc-label">Primary</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr />

                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-3 ">
                            <div class="form-group">
                                <label class="profile-edit-label">Banjo ability</label>
                                <div class="profile-edit-container">
                                    <select name="musicianBanjoAbility" id="musicianBanjoAbility" class="form-control">
                                        <option value="0">Please select...</option>
                                        <option selected="selected" value="357">Beginner</option>
                                        <option value="358">Intermediate</option>
                                        <option value="359">Expert</option>

                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3 ">
                            <div class="form-group">
                                <label class="profile-edit-label">Trumpet ability</label>
                                <div class="profile-edit-container">
                                    <select name="musicianBanjoAbility" id="musicianBanjoAbility" class="form-control">
                                        <option value="0">Please select...</option>
                                        <option selected="selected" value="357">Beginner</option>
                                        <option value="358">Intermediate</option>
                                        <option value="359">Expert</option>

                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3 ">
                            <div class="form-group">
                                <label class="profile-edit-label">Horn ability</label>
                                <div class="profile-edit-container">
                                    <select name="musicianBanjoAbility" id="musicianBanjoAbility" class="form-control">
                                        <option value="0">Please select...</option>
                                        <option selected="selected" value="357">Beginner</option>
                                        <option value="358">Intermediate</option>
                                        <option value="359">Expert</option>

                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3 ">
                            <div class="form-group">
                                <label class="profile-edit-label">Tuba ability</label>
                                <div class="profile-edit-container">
                                    <select name="musicianBanjoAbility" id="musicianBanjoAbility" class="form-control">
                                        <option value="0">Please select...</option>
                                        <option selected="selected" value="357">Beginner</option>
                                        <option value="358">Intermediate</option>
                                        <option value="359">Expert</option>

                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3 ">
                            <div class="form-group">
                                <label class="profile-edit-label">Violin ability</label>
                                <div class="profile-edit-container">
                                    <select name="musicianBanjoAbility" id="musicianBanjoAbility" class="form-control">
                                        <option value="0">Please select...</option>
                                        <option selected="selected" value="357">Beginner</option>
                                        <option value="358">Intermediate</option>
                                        <option value="359">Expert</option>

                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3 ">
                            <div class="form-group">
                                <label class="profile-edit-label">Clarinet ability</label>
                                <div class="profile-edit-container">
                                    <select name="musicianBanjoAbility" id="musicianBanjoAbility" class="form-control">
                                        <option value="0">Please select...</option>
                                        <option selected="selected" value="357">Beginner</option>
                                        <option value="358">Intermediate</option>
                                        <option value="359">Expert</option>

                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3 ">
                            <div class="form-group">
                                <label class="profile-edit-label">Rapping ability</label>
                                <div class="profile-edit-container">
                                    <select name="musicianBanjoAbility" id="musicianBanjoAbility" class="form-control">
                                        <option value="0">Please select...</option>
                                        <option selected="selected" value="357">Beginner</option>
                                        <option value="358">Intermediate</option>
                                        <option value="359">Expert</option>

                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3 ">
                            <div class="form-group">
                                <label class="profile-edit-label">Engineer ability</label>
                                <div class="profile-edit-container">
                                    <select name="musicianBanjoAbility" id="musicianBanjoAbility" class="form-control">
                                        <option value="0">Please select...</option>
                                        <option selected="selected" value="357">Beginner</option>
                                        <option value="358">Intermediate</option>
                                        <option value="359">Expert</option>

                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr />


                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="profile-edit-label">Favorite bands / artists</label>
                                <div class="profile-edit-container row">
                                    <div class="col-xs-12 col-sm-6">
                                        <input id="checkbox2" type="text" checked="" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="profile-edit-label">Music experience</label>
                                <div class="profile-edit-container">
                                    <textarea style="width:100%; min-height:100px;" class="form-control"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 text-center padding-15">
                        <a asp-controller="Profile" asp-action="TalentProfileViewAs" id="btnCancle" class="btn-profile-edit-cancle btn btn-danger">Cancle</a>
                        <button id="btnSave" class="btn-profile-edit-save btn btn-success">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</section>
@section Scripts {

}
