<section class="section-profile-talent-view-as">
    <div class="profile-panel-grey">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                    <h1>Talent Directory</h1>
                </div>
                <div class="col-sm-9 col-md-9 col-lg-9">

                    <div class="profile-stats">
                        <div class="profile-stat">
                            <a href="#" class="profile-stat-count">
                                24
                                <div class="profile-stat-label">Following</div>
                            </a>
                        </div>
                        <div class="profile-stat">
                            <a href="#" class="profile-stat-count">
                                297
                                <div class="profile-stat-label">Followers</div>
                            </a>
                        </div>
                        <div class="profile-stat">
                            <a href="#" class="profile-stat-count">
                                24
                                <div class="profile-stat-label">Recommendations</div>
                            </a>
                        </div>
                        <div class="profile-stat">
                            <div class="profile-stat-count">81</div>
                            <div class="profile-stat-label">Castings</div>
                        </div>
                        <div class="profile-stat">
                            <div class="profile-stat-count">31.5k</div>
                            <div class="profile-stat-label">Views</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="profile-panel-black">
        <div class="container">
            <div class="row">
                <div class="profile-image-container">
                    <img src="~/images/alia-bhatt-headshot.jpg" />
                </div>
                <div class="profile-details">
                    <span class="name">Alia Bhatt</span>
                    <div class="location">
                        <i class="fa fa-map-marker" style="zoom:1.2;"></i>
                        <span>Bombay, India</span>
                    </div>
                    <div class="roles">
                        Actor, Model, Dancer, Stylist
                    </div>
                    <div class="actions">
                        <div class="action-button">
                            <a href="#" class="btn btn-success">
                                <i class="fa fa-star" style="zoom:1.1;"></i>
                                Follow
                            </a>
                            <a href="#" class="btn btn-success">
                                <i class="fa fa-envelope-o" style="zoom:1.1;"></i>
                                Contact
                            </a>
                            <a href="#" class="btn btn-success">
                                <i class="fa fa-gears" style="zoom:1.1;"></i>
                                Recommend
                            </a>
                            <a id="btnProfileShare" href="#" class="btn btn-success">
                                <i class="fa fa-share" style="zoom:1.1;"></i>
                                Share
                            </a>
                        </div>
                        <div class="profile-share">
                            <dl class="social">
                                <dd>
                                    <div href="mailto:?subject=Sara%20Parker%20-%20StarNow&amp;body=StarNow%20Talent%3A%20Sara%20Parker%0D%0Ahttp%3A%2F%2Fwww.starnow.com%2FSaraParker8" rel="nofollow" title="Email your friends" class="js-share-internal">
                                        <i class="fa fa-envelope share-icon"></i>
                                    </div>
                                </dd>
                                <dd>
                                    <div title="Share on Facebook" href="http://www.facebook.com/sharer/sharer.php?u=http%3a%2f%2fwww.starnow.com%2fSaraParker8" target="_blank" class="js-social-button js-facebook" data-dimensions="626,436" data-share-social-type="faceboook">
                                        <i class="fa fa-facebook-official share-icon"></i>
                                    </div>
                                </dd>
                                <dd>
                                    <div href="http://www.twitter.com/intent/tweet?url=http%3a%2f%2fwww.starnow.com%2fSaraParker8&amp;text=Sara+Parker&amp;via=StarNow&amp;lang=en&amp;hashtags=casting" target="_blank" title="Share on Twitter" class="js-social-button js-twitter" data-dimensions="550,450" data-share-social-type="twitter">
                                        <i class="fa fa-twitter-square share-icon"></i>
                                    </div>
                                </dd>
                                <dd>
                                    <div href="http://pinterest.com/pin/create/button/?url=http%3a%2f%2fwww.starnow.com%2fSaraParker8&amp;media=https%3a%2f%2fsnusercontent.global.ssl.fastly.net%2fmember-headshot%2f97%2f1716897_7824258.jpg&amp;description=Sara+Parker+United+Kingdom+on+StarNow" target="_blank" title="Pin it to Pinterest" class="js-social-button js-pinterest" data-dimensions="866,590" data-share-social-type="pinterest">
                                        <i class="fa fa-pinterest-square share-icon"></i>
                                    </div>
                                </dd>
                                <dd>
                                    <div href="https://plus.google.com/share?url=http%3a%2f%2fwww.starnow.com%2fSaraParker8" target="_blank" title="Share on Google+" class="js-social-button js-google-plus" data-dimensions="600,600" data-share-social-type="googleplus">
                                        <i class="fa fa-google-plus-square share-icon"></i>
                                    </div>
                                </dd>
                            </dl>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="">
        <div class="container">
            <div class="row">
                <div style="height:95px;">&nbsp;</div>
            </div>
        </div>
    </div>

</section>
<section id="profileSummary" class="profile-panel-summary">
    <div class="container">
        <div class="row">
            <div class="profile-summary">
                <p>I processed 7 years in IT industries. I designated as Senior Software Engineer at Thomson Reuters. I like friendly work environment where each and every people can keep your thought as well as they are identified by his and her work. I am cool and positive in nature. I believe that I am having sound knowledge in .NET MVC, Angular, Bower, JQuery, C#.NET, ASP.NET and WebApi. Expertise in ADO.NET, WCF, LINQ, PLINQ as well as having knowledge of Infragistics control. I am extensively worked with ADO.NET classes like SQL Connections, SQL Command, SQL Data Adapter, Dataset and Data Reader. For UI side I worked on WebApps using AngularJS, Bower, TypeScript and Krma.</p>
            </div>
        </div>
    </div>

</section>
<section id="profileBody" class="profile-body">
    <div class="container">
        <div class="row profile-menu section">
            <ul>
                <li id="subTab0" class="active"><a href="#">All</a></li>
                <li id="subTab7"><a href="#">Modeling</a></li>
                <li id="subTab6"><a href="#">Acting</a></li>
                <li id="subTab8"><a href="#">Dancing</a></li>
                <li id="subTab9"><a href="#">Photography</a></li>
                <li id="subTab5"><a href="#">Physical Details</a></li>
                <li id="subTab4"><a href="#">Photos</a></li>
                <li id="subTab3"><a href="#">Video</a></li>
                <li id="subTab2"><a href="#">Experience</a></li>
                <li id="subTab1"><a href="#">Comments</a></li>
            </ul>

        </div>
    </div>
    <div id="profileImage" class="table-containe">
        <div class="container section">
            <div class="row">
                <div class="c-table">
                    <div class="c-column">
                        <a href="#" class="c-card">
                            <img src="https://snusercontent.global.ssl.fastly.net/member-profile-full/13/1878813_5970723.jpg">
                            <div class="like like--photo  like--media--unliked"></div>
                        </a>
                        <a href="#" class="c-card">
                            <img src="https://snusercontent.global.ssl.fastly.net/member-profile-full/13/1878813_4706659.jpg">
                            <div class="like like--photo  like--media--unliked"></div>
                        </a>
                    </div>
                    <div class="c-column">
                        <a href="#" class="c-card">
                            <img src="https://snusercontent.global.ssl.fastly.net/member-profile-full/13/1878813_5894127.jpg">
                            <div class="like like--photo  like--media--unliked"></div>
                        </a>
                        <a href="#" class="c-card">
                            <img src="https://snusercontent.global.ssl.fastly.net/member-profile-full/13/1878813_5970723.jpg">
                        </a>
                    </div>
                    <div class="c-column">
                        <a href="#" class="c-card">
                            <img src="https://snusercontent.global.ssl.fastly.net/member-profile-full/13/1878813_4706659.jpg">
                            <div class="like like--photo  like--media--unliked"></div>
                        </a>
                        <a href="#" class="c-card">
                            <img src="https://snusercontent.global.ssl.fastly.net/member-profile-full/13/1878813_5894127.jpg">
                            <div class="like like--photo  like--media--unliked"></div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="talentVideo" class="table-container">
        <div class="container section">
            <div class="row">
                <div class="c-table">
                    <div class="heading">
                        <i class="fa fa-video-camera"></i>
                        <span>Video</span>
                        <i class="fa fa-chevron-down" style="float:right; cursor:pointer;"></i>
                    </div>
                    <div class="c-column">
                        <div href="#" class="video-card mobile-full">
                            <figure>
                                <img src="http://img.youtube.com/vi/NTHz9ephYTw/0.jpg">
                                <figcaption>
                                    <a class="title">Chloe Arrowsmith</a>
                                    <span class="upload-time">Uploaded 3 years ago</span>
                                </figcaption>
                            </figure>
                            @*<div class="btn-video-play">
                                <a class="fa fa-play-circle-o" style="zoom:5; cursor:pointer;"></a>
                                </div>*@
                        </div>
                    </div>
                    <div class="c-column">
                        <div href="#" class="video-card mobile-full">
                            <figure>
                                <img src="http://img.youtube.com/vi/NTHz9ephYTw/0.jpg">
                                <figcaption>
                                    <a class="title">Chloe Arrowsmith</a>
                                    <span class="upload-time">Uploaded 3 years ago</span>
                                </figcaption>
                            </figure>

                        </div>
                    </div>
                    <div class="c-column">
                        <div href="#" class="video-card mobile-full">
                            <figure>
                                <img src="http://img.youtube.com/vi/NTHz9ephYTw/0.jpg">
                                <figcaption>
                                    <a class="title">Chloe Arrowsmith</a>
                                    <span class="upload-time">Uploaded 3 years ago</span>
                                </figcaption>
                            </figure>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<section id="physicalAppearance" class="profile-body container">
    <div class="row padding-0 section-profile-item-container">
        <div class="item-heading-container">
            <span class="item-heading-label">Physical Appearance</span>
            <a asp-controller="ProfileEdit" asp-action="PhysicalAppearance" class="fa fa-edit item-edit btn btn-success" title="Edit">Edit</a>
        </div>
        <div class="item-detail" style="font-size:16px;">
            <div class="col-sm-6 span-text">Height : </div>
            <div class="col-sm-6 span-text">Weight : </div>
            <div class="col-sm-6 span-text">Body Type : </div>
            <div class="col-sm-6 span-text">Skin color : </div>
            <div class="col-sm-6 span-text">Eye color : </div>
            <div class="col-sm-6 span-text">Chest : </div>
            <div class="col-sm-6 span-text">Hair Length : </div>
            <div class="col-sm-6 span-text">Hair Type : </div>
            <div class="col-sm-6 span-text">Hair color : </div>
        </div>
    </div>s
</section>
<section id="educationAndExperiance" class="profile-body container">
    <div class="row padding-0 section-profile-item-container">
        <div class="item-heading-container">
            <span class="item-heading-label">Education & Experiance</span>
            <a asp-controller="ProfileEdit" asp-action="ExperianceEdit" class="fa fa-edit item-edit btn btn-success" title="Edit">Edit</a>
        </div>
        <div class="item-detail" style="padding:20px;">

            <h4>2016</h4>
            <ul>
                <li>
                    werwer :
                    <i>werwerwer</i>
                </li>
            </ul>
            <h4>2014</h4>
            <ul>
                <li>
                    wer :
                    <i>werwer</i>
                </li>
                <li>
                    1232 :
                    <i>
                        dfvretvre rewvewrvrt
                    </i>
                </li>
            </ul>

        </div>
    </div>
</section>
<section id="Acting" class="profile-body container">
    <div class="row padding-0 section-profile-item-container">
        <div class="item-heading-container">
            <span class="item-heading-label">Acting</span>
            <a asp-controller="ProfileEdit" asp-action="ActingEdit" class="fa fa-edit item-edit btn btn-success" title="Edit">Edit</a>
        </div>
        <div class="item-detail" style="padding:20px;">
            <span style="font-size:20px; background-color:#ccc;">No previous acting experience</span>
            <h4>Languages</h4>
            <ul class="tick-list indent20">
                <li>Sign Language</li>
                <li>Welsh</li>
            </ul>

            <h4>Accents</h4>
            <ul class="tick-list indent20">
                <li>African</li>
            </ul>

        </div>
    </div>
</section>
<section id="Modeling" class="profile-body container">
    <div class="row padding-0 section-profile-item-container">
        <div class="item-heading-container">
            <span class="item-heading-label">Modeling</span>
            <a asp-controller="ProfileEdit" asp-action="ModelingEdit" class="fa fa-edit item-edit btn btn-success" title="Edit">Edit</a>
        </div>
        <div class="item-detail" style="padding:20px;">
            <p>Website: <a href="#" onclick="window.open('http://www.google.com')">www.google.com</a></p>

            <p style="font-size:20px; background-color:#ccc;">Part-time model - paid commercial work</p>
            <p>WDwdxQDXQWXD</p>
        </div>
    </div>s
</section>
<section id="Music" class="profile-body container">
    <div class="row padding-0 section-profile-item-container">
        <div class="item-heading-container">
            <span class="item-heading-label">Music</span>
            <a asp-controller="ProfileEdit" asp-action="MusicEdit" class="fa fa-edit item-edit btn btn-success" title="Edit">Edit</a>
        </div>
        <div class="item-detail" style="padding:20px;">

            <table id="ctl00_cphMain_subscriptions_ctl02_categoryAttributes" class="striped" cellspacing="0" style="border-collapse:collapse;">
                <tbody>
                    <tr>
                        <td><div class="th"><strong>Banjo ability:</strong></div>&nbsp; <span>Beginner</span></td>
                        <td><div class="th"><strong>Violin ability:</strong></div>&nbsp; <span>Beginner</span></td>
                    </tr>
                    <tr>
                        <td><div class="th"><strong>Trumpet ability:</strong></div>&nbsp; <span>Beginner</span></td>
                        <td><div class="th"><strong>Clarinet ability:</strong></div>&nbsp; <span>Beginner</span></td>
                    </tr>
                    <tr>
                        <td><div class="th"><strong>Horn ability:</strong></div>&nbsp; <span>Beginner</span></td>
                        <td><div class="th"><strong>Rapping ability:</strong></div>&nbsp; <span>Beginner</span></td>
                    </tr>
                    <tr>
                        <td><div class="th"><strong>Tuba ability:</strong></div>&nbsp; <span>Beginner</span></td>
                        <td><div class="th"><strong>Engineer ability:</strong></div>&nbsp; <span>Beginner</span></td>
                    </tr>
                </tbody>
            </table>
            <div class="clearfix"></div><h5>Favourite genres</h5><ul class="tick-list indent20"><li>Pop</li><li>Rock</li><li>Indie</li><li>Metal</li></ul><ul class="tick-list indent20"><li>Electronic</li><li>Hip-hop</li><li>Jazz</li><li>Classical</li></ul><ul class="tick-list indent20"><li>Country</li></ul>
            <div class="clearfix"></div>
            Influences: <a href="/artists/165-Radiohead">Radiohead</a>
            <br>
            <br>

            No experiance
        </div>
    </div>

</section>
<section id="tvReality" class="profile-body container">
    <div class="row padding-0 section-profile-item-container">
        <div class="item-heading-container">
            <span class="item-heading-label">Tv & Reality</span>
            <a asp-controller="ProfileEdit" asp-action="TvRealityEdit" class="fa fa-edit item-edit btn btn-success" title="Edit">Edit</a>
        </div>
        <div class="item-detail" style="padding:20px;">
            <P>kOPWMDPOKDX,[WOIDX,PW POWIXDJQWMDXPOQDOQW</P>
        </div>
    </div>
</section>
<section id="dancing" class="profile-body container">
    <div class="row padding-0 section-profile-item-container">
        <div class="item-heading-container">
            <span class="item-heading-label">Dancing</span>
            <a asp-controller="ProfileEdit" asp-action="DancingEdit" class="fa fa-edit item-edit btn btn-success" title="Edit">Edit</a>
        </div>
        <div class="item-detail" style="padding:20px;">
            <p style="font-size:20px; background-color:#ccc;">Dancing ability:  Beginner</p>
            <h4>Dance Style : </h4>
            <ul class="tick-list indent20"><li>Ballet</li><li>Bollywood</li></ul>
        </div>
    </div>s
</section>
<section id="filmandstagecrew" class="profile-body container">
    <div class="row padding-0 section-profile-item-container">
        <div class="item-heading-container">
            <span class="item-heading-label">Film & Stage Crew</span>
            <a asp-controller="ProfileEdit" asp-action="FilmScrewEdit" class="fa fa-edit item-edit btn btn-success" title="Edit">Edit</a>
        </div>
        <div class="item-detail" style="padding:20px;">
            <P>kOPWMDPOKDX,[WOIDX,PW POWIXDJQWMDXPOQDOQW</P>
        </div>
    </div>s
</section>
<section id="magazine" class="profile-body container">
    <div class="row padding-0 section-profile-item-container">
        <div class="item-heading-container">
            <span class="item-heading-label">Magazine</span>
            <a asp-controller="ProfileEdit" asp-action="MagazineEdit" class="fa fa-edit item-edit btn btn-success" title="Edit">Edit</a>
        </div>
        <div class="item-detail" style="padding:20px;">
            <p>Website: <a href="#" onclick="window.open('http://www.google.com')">www.google.com</a></p>

            <p style="font-size:20px; background-color:#ccc;">Photography student</p>
            <p>WDwdxQDXQWXD</p>
        </div>
    </div>s
</section>
<section id="photography" class="profile-body container">
    <div class="row padding-0 section-profile-item-container">
        <div class="item-heading-container">
            <span class="item-heading-label">Photography</span>
            <a asp-controller="ProfileEdit" asp-action="PhotographyEdit" class="fa fa-edit item-edit btn btn-success" title="Edit">Edit</a>
        </div>
        <div class="item-detail" style="padding:20px;">
            <p>Website: <a href="#" onclick="window.open('http://www.google.com')">www.google.com</a></p>

            <p style="font-size:20px; background-color:#ccc;">Photography student</p>
            <p>WDwdxQDXQWXD</p>
        </div>
    </div>s
</section>
<section id="stylist" class="profile-body container">
    <div class="row padding-0 section-profile-item-container">
        <div class="item-heading-container">
            <span class="item-heading-label">Stylist</span>
            <a asp-controller="ProfileEdit" asp-action="StylistEdit" class="fa fa-edit item-edit btn btn-success" title="Edit">Edit</a>
        </div>
        <div class="item-detail" style="padding:20px;">
            <p>WDwdxQDXQWXD</p>
        </div>
    </div>s
</section>


@section Scripts {

    <script>
        $("#profileActionToggleClickButton").click(function () {
            $("#profileContactAction").toggle('blind', '', 500);
        });

    </script>

}
